<script id="directivesListTemplate" type="text/html">

    <table class="directivesList">

        {{#Data}}

        <tr class="bindingDirective">
            <td class="editButtonsRegion">
                <img class="addButton" data-assembly-name="{{Name}}" src="../Media/Images/Icons/add.png" alt="Añadir redirección" />
                <img class="deleteButton" data-assembly-name="{{Name}}" src="../Media/Images/Icons/delete.png" alt="Eliminar redirección" />
            </td>
            <td class="assemblyName">{{Name}}</td>
            <td class="assemblyToken">{{Token}}</td>
            <td class="editAssemblyButtonsRegion">
                <img class="deleteAssemblyButton" data-assembly-name="{{Name}}" src="../Media/Images/Icons/deleteAssembly.png" alt="Eliminar ensamblado" />
            </td>            
        </tr>
            
        <tr class="redirections">

            <td colspan="4">
            
                <table>

                    {{#Redirections}}

                    <tr class="redirection">                    

                        <td class="checkBoxRegion">
                            <input type="checkbox" data-assembly-name="{{Name}}" data-id="{{Id}}"> 
                        </td>

                        {{#Range}}

                        {{#LowerBound}}

                        <td class="lowerBound versionControl" data-assembly-name="{{Name}}" data-id="{{Id}}">{{VersionAsString}}</td>

                        {{/LowerBound}}

                        {{#UpperBound}}

                        <td class="upperBound versionControl" data-assembly-name="{{Name}}" data-id="{{Id}}">{{VersionAsString}}</td>

                        {{/UpperBound}}

                        {{/Range}}

                        <td>&nbsp;</td>

                        {{#TargetVersion}}

                        <td class="targetVersion versionControl" data-assembly-name="{{Name}}" data-id="{{Id}}">{{VersionAsString}}</td>

                        {{/TargetVersion}}                    

                    </tr>

                    {{/Redirections}}

                </table>

            </td>            

        </tr>            

        {{/Data}}

    </table>

</script>

